body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* src/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.ant-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 100%;
}

.ant-breadcrumb {
  height: 8vh;
  padding: 16px 0px;
}

.ant-layout-content {
  flex: 1;
  overflow: auto;
  height: calc(100vh - 16vh);
}

.ant-layout-footer {
  /* flex: 1; */
  overflow: auto;
  text-align: center;
  height: 8vh;
}

.ant-table-body {
  overflow: auto;
  max-height: none !important;
  min-height: 375px;
}